go 1.20

use (
	./animal-magic
	./bob
	./collatz-conjecture
	./darts
	./difference-of-squares
	./etl
	./expenses
	./gigasecond
	./grains
	./hamming
	./interest-is-interesting
	./isogram
	./leap
	./meteorology
	./pangram
	./parsing-log-files
	./raindrops
	./reverse-string
	./rna-transcription
	./scrabble-score
	./strain
	./the-farm/
)
