go 1.20

use (
	./animal-magic
	./collatz-conjecture
	./difference-of-squares
	./expenses
	./gigasecond
	./hamming
	./interest-is-interesting
	./isogram
	./leap
	./luhn
	./meteorology
	./parsing-log-files
	./raindrops
	./resistor-color
	./scrabble-score
	./the-farm/
)
